body {
    background-color: #4A302E;
    margin: 0px;
}

a {
    text-decoration: none;
}

.header {
    background-color:#1e1312;
    padding: 20px 500px;
}

.topmenu {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topmenu .menu_link {
    color: white;
}

.page {
    color: white;
    padding: 20px 500px;
}