@media (max-width:1200px)
    .aside
        width: 240px
        .logo-img
            width: 180px
        .logo-text
            font-size: 30px
        .menu-link
            font-size: 20px
    .page
        margin-left: 240px
        .content-wrap
            .content-category
                font-size: 80px
            .category-text
                font-size: 18px
            .book-search
                width: 50%
            .library-wrap
                .card
                    width: 16rem
                    height: 18rem
                    &#new-book
                        font-size: 20px
                        i
                            font-size: 90px
                    #default-cover
                        font-size: 218px
                    .card-body
                        .card-title
                            font-size: 24px
                        .card-text
                            font-size: 16px
                        a
                            width: 57px
                            height: 31px
                            font-size: 13px
                    .update-book
                        width: 38px
                        height: 34px
                        left: 79%
                        top: 67%
                        font-size: 15px
                        text-align: center
                    .delete-book
                        width: 38px
                        height: 34px
                        left: 79%
                        top: 83%
                        font-size: 15px
                        text-align: center
        
@media (max-width:991px)
    .aside
        .logo-img
            width: 150px
        .logo-text
            font-size: 28px
        .menu-link
            font-size: 19px
    .page
        .content-wrap
            .content-category
                font-size: 70px
            .category-text
                font-size: 18px
            .book-search
                width: 50%
            .library-wrap
                .card
                    width: 14rem
                    height: 16rem
                    &#new-book
                        font-size: 17px
                        i
                            font-size: 85px
                    #default-cover
                        font-size: 200px
                    .card-body
                        .card-title
                            font-size: 20px
                        .card-text
                            font-size: 15px
                        a
                            width: 55px
                            height: 30px
                            font-size: 12px
                    .update-book
                        width: 38px
                        height: 34px
                        left: 79%
                        top: 67%
                        font-size: 15px
                        text-align: center
                    .delete-book
                        width: 38px
                        height: 34px
                        left: 79%
                        top: 83%
                        font-size: 15px
                        text-align: center
@media (max-width: 767px)
    .page
        .content-wrap
            .content-category
                font-size: 64px
            .category-text
                font-size: 15px
            .book-search
                width: 51%
            .library-wrap
                .card
                    width: 12rem
                    height: 14rem
                    &#new-book
                        font-size: 15px
                        i
                            font-size: 80px
                    #default-cover
                        font-size: 170px
                    .card-body
                        .card-title
                            font-size: 18px
                        .card-text
                            font-size: 13px
                        a
                            width: 49px
                            height: 28px
                            font-size: 10px
                    .update-book
                        width: 34px
                        height: 31px
                        left: 78%
                        top: 66%
                        padding-left: 10px
                        font-size: 13px
                        text-align: center
                    .delete-book
                        width: 34px
                        height: 31px
                        left: 78%
                        top: 83%
                        padding-left: 11px
                        font-size: 13px
                        text-align: center

    .xs-hidden
            display: none
    .xs-visible
        display: block