html,
body {
  height: 100%;
}

body {
    height: 100%;
    /* night time */
    /* background-color:rgba(0, 0, 0, 0.7); */
}

a, .nav-link{
    color: #212529;
}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #212529;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0.25);
}

.nav-link:hover{
    color:rgba(0, 0, 0, 0.5)
}

.list-group-item:hover{
    color:rgba(0, 0, 0, 0.5)
}

.book-shelf{
    margin-top: 20px;
}

.addbook {
    text-decoration: none;
}

.list-group{
    float: left;
    margin: 50px;

}

.card .card-img-top {
    min-width: 249px;
    min-height: 249px;
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    margin-top: 17.5px;
}

.card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.book-page {
    display: flex;
}

.book-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.line-limit-length{
    margin: 0;
    max-width: 633px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selected{
    color: white;
    background-color:#212529;
}

.selected:hover{
    color: rgba(179, 174, 174, 0.99)
} 

.pagination .page-item:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

.pagination .page-link{
    color: #212529;
}